### STS / Eclipse ###
.classpath
.project
.settings/
bin/
tmp/

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
out/

### Sistema operacional ###
.DS_Store
Thumbs.db

### Logs ###
*.log
logs/

### Arquivos temporários ###
*.tmp
*.swp
*.swo
*.bak

### Lombok ###
*.lombok

### Arquivos de ambiente ###
.env

### VS Code ###
.vscode/

